body {
    background-color: transparent;
    color: white;
    font-family: "Times New Roman", Times, serif;
    margin: 0;
    padding: 0;
}

.logoimg {
  z-index: 3;
  padding-top: 0px;
}

.logo {
  z-index: 5;
  color: darkred;
  font-size: 33px;
  font-family: fantasy;
  letter-spacing: 2px;
}
.logo:hover {
  color: blanchedalmond;
}
.logo span {
  z-index: 5;
  color: rgb(115, 115, 115);
  font-size: 33px;
  font-family: fantasy;
  letter-spacing: 2px;
}
.logo span:hover {
  color: darkred;
}
.nav-bar {
  z-index: 4;
  background-color: rgba(26, 13, 0, 0.9);
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}
.nav-bar ul {
  list-style: none;
  display: flex;
}
.nav-bar ul li {
  /* width: 120px; */
  padding: 10px 30px;
  /* text-align: center; */
  position: relative;
}
.nav-bar ul li a {
  font-size: 26px;
  font-family: fantasy;
  color: brown;
  text-decoration: none;
  transition: all 0.3s;
}
.nav-bar ul li a:hover {
  color: blanchedalmond;
  font-size: 30px;
}

.fas {
  float: right;
  margin-left: 10px;
  padding-top: 3px;
}
/* dropdown menu style */
.dropdown-menu {
  display: none;
}
.nav-bar ul li:hover .dropdown-menu {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: rgba(26, 13, 0.5, 0.7);
}
.nav-bar ul li:hover .dropdown-menu ul {
  display: block;
  margin: 10px;
}
.nav-bar ul li:hover .dropdown-menu ul li {
  width: 150px;
  padding: 10px;

}
div{
    margin-bottom: 5px;
}

div#left{
     background-color: rgba(128, 0, 0, 0.9); 
    color: white; 
    font-size: 16px;
    clear: left;
    float: left;
    height:1200px;
    width: 25%;
    color: white;
    margin: auto;
}

.box ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.box li {
  margin-top: 50px;
  margin-bottom:40px; 
  margin-left: 40px;
  position: relative; 
}

.box li a {
    text-decoration: none;
    color: white;
    letter-spacing: 1.5px;
}

.box li a:hover {
    color: gainsboro;
}

/*gạch chân dưới các mẩu tin*/
.box li::before {
  content: "";
  width: 80%; 
  height: 1px; 
  background-color: #fff; 
  position: absolute; 
  bottom:-50%; 
  left: 0; 
}


p{
    color: #906060  ;
}


div#right{
    background-color: #DDDAD0;
    float:left;
    height:500px;
    width:75%;
    height: 1200px;
    margin: auto;
}
/*#B8B8B8*/

/*content in box right*/

h2{ font-size: 30px;
    color:#34495E  ;
    text-indent: 5%;
    margin-top: 40px;
    margin-bottom:20px;
    letter-spacing:1.5px }

p#p2{
    color:black;
    float:right;
    width:95%;
    margin-bottom:20px;
}


